// Cores do sistema

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$verde:    #079B5E  !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
     "verde":     $verde
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$verde:          $verde !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "verde":     $verde
  ),
  $theme-colors
);


// Links do Sistema


$link-color:                              theme-color("success") !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($verde, 0%) !default;
$link-hover-decoration:                   none !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;



// Cores do Input

$input-btn-focus-color:       rgba($verde, .25) !default;
$input-focus-border-color:              lighten($verde, 25%) !default;
$custom-control-indicator-checked-disabled-bg:  rgba($verde, .5) !default;
$custom-control-indicator-active-bg:            lighten($verde, 35%) !default;
$custom-range-thumb-active-bg:               lighten($verde, 35%) !default;











@import '../node_modules/bootstrap/scss/bootstrap';


.cabecalho{
background-color: $verde;
height: 16px;

}

.corpo{

height: 239px;
}

.fim{

background-color: $verde;
height: 50px;
color: #ffffff;
line-height: 15px;

}


.login {


height: 300px;

}

input{
    max-width: 300px;

}

a{
   color:$verde;
}





.input-group-text{

background-color: $verde;
color: #ffffff;
height: 38px;
width: 40px;
}


.teste{
 border: 1px solid #000;

}

.h1{
 color:$verde;
  }

